<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} {% endblock %} - Título </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        {% block styles %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {% endblock %}
        
        <style>{% block style %}{% endblock %}</style>
    </head>

    <body>
      {% block scripts %}
      <script src="{{url_for('static', filename='js/main.js')}}"></script>
      {% endblock %}
    </body>
</html>
